

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    min-width: 320px;
}

#micInner {
    fill:#d35f5f;
}
#micOutter {
    fill:#ac9393;
}
