@import './allMainStyles.less';


.SingleWork__container {
    overflow: hidden;
    filter: grayscale(15%);
    box-shadow: 5px 5px 15px @lightGrey;
    margin: 0;

    &:hover {
        background-color: @corporateColorYellow;
        filter: contrast(120%);
        cursor: pointer;
    }
}
